header#Header {
  // marquee text scroll
  position: absolute;
  top: 0;
  left: 0;
  .navbar {
    background: transparent !important;
    padding: 1.5rem 0rem;
    .dropdown-item {
      padding: 0.75rem 1.25rem;
    }
  }
  marquee {
    background: var(--text-57);
    color: white;
    display: flex;
    justify-content: center;
    a {
      color: inherit;
      display: inline-block;
      padding-left: 5rem;
      font-size: 0.875rem;
      text-decoration: none;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  // HeaderMenu
  menu#HeaderMenu {
    margin: 0;
    padding: 0;
    #logo {
      height: 1.5rem;
      max-height: 2rem;
      margin-right: 153px;
    }
    a {
      color: white;
    }
    .dropdown-toggle {
      &::after {
        display: none;
      }
    }
    .dropdown-menu {
      border-radius: 0px;
      padding: 0.25rem;
      border: 1px solid hsla(0, 0%, 100%, 0.15);
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      .dropdown-item {
        background: transparent;
      }
      * {
        border-radius: 0px !important;
      }
      li {
        background-color: transparent;
        .active_item {
          background: hsla(0, 0%, 100%, 0.1);
        }
        &:hover {
          background: var(--text-26);
          .dropdown-item {
            background: var(--text-26);
          }
        }
      }
    }
    @media (max-width: 991px) {
      .navbar {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        z-index: 1000;
      }
      .navbar-collapse {
        background: #161616;
        position: absolute;
        width: 100%;
        left: 0;
        top: 84px;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
      }
      .nav-link {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        display: flex;
        justify-content: space-between;
      }
      .dropdown-menu {
        position: static;
        margin-right: -2.5rem;
        margin-left: -2.5rem;
        .dropdown-item {
          padding: 1rem 2.5rem;
        }
      }
    }
    @media (max-width: 767px) {
      .navbar,
      .navbar-collapse {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
      }
      .dropdown-menu {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
      }
      #logo {
        height: 1rem;
      }
    }
  }
}
